<body>

    <!-- Hero Section Begin -->
    <section class="hero-section">
            <div class="set-bg">
                <div class="container">
                    <div class="row">
                        <div class="texto-indice">
                            <div class="hi-text">
                                <h2 class="color-blanco">Gym STRENGTH Lider en <strong>entrenamiento</strong></h2>
                                <a [routerLink] = "['/registro']" class="primary-btn">Inscribete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Hero Section End -->



    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Clases</span>
                        <h2>Clases exclusivas de:</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="assets/img/classes/haltero.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>STRENGTH</span>
                            <h5>Halterofilia</h5>
                            <a [routerLink] = "['/clases']"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="assets/img/classes/cycling.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h5>Cycling</h5>
                            <a [routerLink] = "['/clases']"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="assets/img/classes/crossfit.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Crossfit</span>
                            <h5>WOD</h5>
                            <a [routerLink] = "['/clases']"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="assets/img/classes/zumba.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Zumba</span>
                            <h4>Zumba</h4>
                            <a [routerLink] = "['/clases']"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="assets/img/classes/body.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Cardio</span>
                            <h4>Body pump</h4>
                            <a [routerLink] = "['/clases']"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->


    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>Calle falsa 123,Granada</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>958 000 000</li>
                            <li>666 000 000</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>info@gym.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="assets/img/logo.png" alt=""></a>
                        </div>
                        <p>Pagina adaptada como ejemplo por MulDev usando una plantilla de COLORLIB</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Enlaces</h4>
                        <ul>
                            <li><a [routerLink] = "['/home']">Inicio</a></li>
                            <li><a [routerLink] = "['/clases']">Clases</a></li>
                            <li><a [routerLink] = "['/home']">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Cliente</h4>
                        <ul>
                          <li><a [routerLink] = "['/alta']">Alta</a></li>
                          <li><a [routerLink] = "['/home']">Contacto</a></li>
                          <li><a [routerLink] = "['/login']">Area cliente</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->





</body>
